.company tr {
    height: 7rem;
}

.company th {
    width: 150px;
    text-align: right;
    padding-right: 10px;
}

.input_form {
    width: 480px;
}

article div {
    text-align: center;
}

textarea {
    resize: vertical;
    min-height: 15px;
    max-height: 90px;
}

.submit_button {
    color: white;
    font-size: 3rem;
    background-color: #008B8B;
    padding: 10px;
}

.submit_button:hover {
    opacity: 0.5;
}